<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/style.css"></link>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

    <!-- Header -->

    <div class = "animation-area">
        <ul class = "box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
       
   

    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand">University Management System</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Header -->

    <!-- Tab -->
    <div class = "tabs">
          <div class = "btn-box">
              <button id="btn1" onclick = "openStudents()"><i class="fas fa-user-graduate"></i> Students </button>
              <button id="btn2" onclick = "openTeachers()"><i class="fas fa-chalkboard-teacher"></i> Teachers </button>
              <button id="btn3" onclick = "openCourses()"><i class="fas fa-book"></i> Courses </button>
          </div> 
    </div>
    <script>
        function openStudents(){
            btn1.style.color = "#06d6a0"
            btn2.style.color = "#2b2d42"
            btn3.style.color = "#2b2d42"
            btn1.style.borderBottomStyle = "solid"
            btn2.style.borderBottomStyle = "none"
            btn3.style.borderBottomStyle = "none"
            btn1.style.borderBottomWidth = "3px"
        }
        function openTeachers(){
            btn2.style.color = "#06d6a0"
            btn1.style.color = "#2b2d42"
            btn3.style.color = "#2b2d42"
            btn2.style.borderBottomStyle = "solid"
            btn1.style.borderBottomStyle = "none"
            btn3.style.borderBottomStyle = "none"
            btn2.style.borderBottomWidth = "3px"
        }
        function openCourses(){
            btn3.style.color = "#06d6a0"
            btn2.style.color = "#2b2d42"
            btn1.style.color = "#2b2d42"
            btn3.style.borderBottomStyle = "solid"
            btn2.style.borderBottomStyle = "none"
            btn1.style.borderBottomStyle = "none"
            btn3.style.borderBottomWidth = "3px"
        }
    </script>
    <!-- Tab -->
       

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">New User <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <!-- Form Handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ammar</td>
                            <td>ammar@gmail.com</td>
                            <td>Male</td>
                            <td>Active</td>
                            <td>
                                <a href="#" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                </a>
                                <a class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <!-- /Main Site -->

</div> 
</body>
</html>
