<% for(var i=0; i<students.length; i++) { %> 

<tr>
    <td><%= students[i].name %> </td>
    <td><%= students[i].email %></td>
    <td><%= students[i].program %></td>
    <td><%= students[i].batch %></td>
    <td>
        <a href="#" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>

<% } %> 