@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap'); 
:root{
    --dark: #2b2d42;
    --light: #abd5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width:1024px;
    margin: auto;
}
.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-black;
}

.text.light{
    color: var(--light);
}

/*.text-gradient{
    background: linear-gradient(to right #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

#header nav{
    background-color: #06d6a0;
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Barlow', sans-serif;
}

#site-main .container .box-nav> a{
    font-size: 1em;
    padding: .5em  1em;
}

#site-main .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: 0.75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table.td>a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0.2em;
}

.table tr:hover{
    background-color: #06d6a0;
}

.table tr:hover td>a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: var(--dark);
    border-color: #32383e;
}

.tabs{
    width: 80%;
    height: 30px;
    position: relative;
    margin: 70px auto;
}

.btn-box{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.btn-box button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark);
}

.btn-box .fa{
    margin-right: 20px;
}

.btn-box button:hover{
    color: #06d6a0;
    border-bottom: 3px solid #06d6a0;
}

#btn1{
    color: #06d6a0;
}

.animation-area{
    background: linear-gradient(to left, #68b497, #5d83bb);
    width: 100%;
    height: 100vh;
}

.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}